:host{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: grey;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dialog-container {
    width: 40%;
    height: auto;
    border: 1px solid rgb(204, 204, 204);
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 6px #585757;
    display: flex;
    flex-direction: column;
}

.dialog-header {
    background-color: rgb(133, 215, 215);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.dialog-content {
    flex-grow: 1;
    padding: 30px;
}

button {
    cursor: pointer;
}